body button,
input {
  outline: none !important;
}
/* navbar start */

/* navbar end */
.overlay {
  width: 100%;
  object-fit: contain;
  /* background-image: url("../../public/Images/Overlay\ Shapes.png"); */
  /* background-color: rgb(87, 187, 113, 0.15); */
}
.overlayImg {
  width: 100vw;
  height: 100%;
  position: absolute;
}
.mainContent {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.nav-homeBtn-img {
  width: 15vw;
}
/* main Left start */
.mainLeftLogin{
  text-align: center;
}
.mainLeftLogin img {
  width: 70%;
  position: relative;
  margin: 0 auto;
  object-fit: contain !important;
}
.mainLeftLogin p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 20px;
}
.mainLeftContentLogin{
  /*width: 90%;*/
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* main Left end */
.middleLineLogin {
  border-right: 1px solid grey;
  height: 100%;
  width: 1px;
  position: absolute;
  right: 50%;
}
/* mainRightLoginstart */
.mainRightLogin {
  text-align: center;
}
.loginCardLogin {
  width: 75%;
  margin: 0 auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 3% !important;
  background-color: #f9f9f9 !important;
  border: none !important;
  box-shadow: 0 1.1px 2.2px rgba(0, 0, 0, 0.022),
    0 2.5px 5.3px rgba(0, 0, 0, 0.032), 0 4.8px 9.9px rgba(0, 0, 0, 0.04),
    0 8.5px 17.6px rgba(0, 0, 0, 0.048), 0 15.9px 33px rgba(0, 0, 0, 0.058),
    0 38px 79px rgba(0, 0, 0, 0.08);
}
.cardContentLogin {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
.card .title {
  border-bottom: 0.2vh solid rgb(175, 175, 175);
}
.card .title h1 {
  font-size: 50px;
  color: #57bb71;
  font-weight: 600;
  padding: 1%;
  margin-top: 1rem;
}
.inputs {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
}
.inputs p {
  margin: 0;
  margin-left: 1vw;
  margin-bottom: 1%;
  margin-top: 5%;
  font-size: 22px;
}

.checkbox {
  /* width: 73%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6%;
  margin-bottom: 2.5%;
}
.checkbox p {
  margin: 0;
  font-size: 20px;
}
.checkbox input {
  width: 18px;
  height: 18px;
}

.rememberBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rememberBox p {
  margin-left: 5px;
  margin-right: 5px;
}

.login {
  width: 74%;
  margin: 0 auto;
  margin-bottom: 2.5%;
}
.loginBtn {
  width: 100%;
  background-color: rgb(87, 187, 113);
  border: 2px solid rgb(87, 187, 113);
  padding-top: 1.8%;
  padding-bottom: 1.8%;
  border-radius: 1.2vh;
  font-size: 22px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
}
.loginBtn:hover {
  color: rgb(87, 187, 113);
  background-color: transparent;
}

.hero {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5%;
}
.hero .hr {
  width: 30%;
  border-top: 0.1vh solid rgb(161, 161, 161);
  position: relative;
}
.hero p {
  font-size: 18px;
  margin-bottom: 0;
}
.faceG img {
  width: 12%;
}
.faceG img:last-of-type {
  margin-left: 2%;
}

.faceG p {
  font-size: 20px;
}
.blue {
  color: #3fa7d6;
  font-weight: 500;
}
.orLogin {
  margin-bottom: 5%;
}

/* Structure */

.login_btn {
  background: #fff;
  height: 2.75rem;
  margin: 1em auto auto;
}

@media (min-width: 768px) {
  .login_btn {
    background: #fff;
    bottom: 2.75rem;
    left: 2.55rem;
    height: 2.75rem;
    padding: 0 3rem;
    /*position: absolute;*/
  }
}

input[type=email],
input[type=password] {
  height: 1.5rem;
  margin: 0 0 1.5rem;
  width: 100%;
}

form {
  overflow: hidden;
  /* padding: 10%; */
  position: relative;
  /* width: 85%; */
}

@media (min-width: 768px) {
  form {
    float: left;
    height: 78%;
    padding: 2% 6%;
    /* width: 38%; */
  }
}

main {
  margin: 2% auto!important;
  overflow: hidden;
  position: relative;
  width: 80%;
}

@media (min-width: 768px) {
  main {
    /*height: 21.25rem;*/
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    /*width: 42.5rem;*/
  }
}

.loginInput {
  background: none;
  border: none;
  border-bottom: 2px solid #57bb71;
  box-sizing: border-box;
  outline: none;
}

input[type=email]:required,
input[type=password]:required {
  box-shadow: none;
  outline: none;
  font-size: 1rem;
}

.login_btn {
  background: #f37b56!important;
  border: none!important;
  outline: none!important;
  color: #fff!important;
  padding: 0 2rem!important;
  width: 80%;
}

.login_btn:hover,
.login_btn:focus {
  background: #f79577;
  cursor: pointer;
  outline: none;
  border-radius: 0;
}

.inputs--filled label {
  transform: translate(0, 0);
}

.inputs--invalid input {
  animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
  background: url(//my-assets.netlify.com/codepen/dailyui-001/ico-invalid.svg) center right no-repeat;
  border-bottom: 2px solid #f37b56;
  box-shadow: none;
  color: #f37b56;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  33% {
    transform: translate3d(-6px, 0, 0);
  }

  66% {
    transform: translate3d(6px, 0, 0);
  }
}

.inputs--invalid label {
  color: #f37b56;
}

.loginLabel {
  display: inline-block;
  transform: translate(0, 1.25rem);
  transition: 0.15s;
}

main {
  background: #f9f6ed;
  border-radius: 0.25rem;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.text-body {
  color: #354c58;
  font: 700 5rem 'Montserrat', sans-serif;
}

.text-small-uppercase-login {
  color: #57bb71;
  font: 700 1.5rem 'Montserrat';
  /* letter-spacing: 0.2rem; */
  /* text-transform: uppercase; */
  float: left;
}

.text-small-uppercase-button {
  /* color: #57bb71!important; */
  font: 700 1.5rem 'Montserrat'!important;
  letter-spacing: 0.2rem!important;
  /* text-transform: uppercase; */
  /* float: left; */
}

/* Background */
.green-bg {
  background-color: #57BB72;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.white-bg {
  background-color: white;
  position: absolute;
  opacity: 0.85;
  width: 100vw;
  height: 100vh;
}

/* Thought of the day */
.quote {
  position: relative;
  color: white;
  font-family: 'Montserrat';
  font-size: 15px;
  text-align: center;
  padding: 3px 0px 3px 0px;
}
.quote-bar {
  position: relative;
  background-color: #262e42;
  border-radius: 0px 0px 15px 15px;
}

/* Navbar */
.nav-bar {
  position: relative;
  padding-top: 0.2rem;
  margin: 0px 5px 0px 5px;
}
.nav-left{
  margin: auto;
  width: auto;
  margin-left: 0px;
  padding-left: 0px;
}
.nav-logo {
  margin: auto;
  width: 200px;
  height: auto;
  padding-top:2px;
}
.nav-center{
  margin: auto;
  width: auto;
  text-align: center;
  padding: 7px 0px 0px 90px;
  font-family: 'montserrat';
  font-weight: 500;
}
.label-1 {
  text-decoration: none;
  color: #262e42;
  margin-right: 35px;
}
.label-2 {
  text-decoration: none;
  color: #262e42;
}
.label-3 {
  text-decoration: none;
  color: #262e42;
  margin-left: 35px;
}
.nav-right{
  margin: auto;
  width: auto;
  text-align: right;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
.sign-in {
  text-decoration: none;
  color: #262e42;
  padding-right: 20px;
}
.request-demo {
  text-decoration: none;
  color: white;
  background-color: crimson;
  padding: 8px 8px;
  border-radius: 7px;
  font-weight: 500;
}
.request-demo:hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  background-color: transparent;
  color: crimson;
  font-weight: 500;
  box-shadow: inset 0 0 0 3px  crimson, 0 0 1px rgb(0 0 0 / 0%);
}
.nav-ham {
  width: auto;
  margin: 9px 0px 0px 0px;
  padding: 0px 0px 0px 20px;
}
.ham{
  width: 30px;
  height: 5px;
  background-color: #262e42;
  margin-bottom: 5px;
  border-radius: 5px;
}
.material-icons {
  width: auto;
  margin: auto;
  margin: 10px 0px 0px 0px;
  padding-right: 5px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #262e42;
}
.person-icon {
  width: auto;
  margin: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 2px;
  text-decoration: none;
  color: #262e42;
}

/* Breakpoints */
@media screen and (min-width: 1439.98px) {
  /*.nav-bar {
      padding-top: 20px;
      margin: 0px 15px 0px 15px;
  }*/
  .nav-logo {
      width: 250px;
      height: auto;
      padding-top: 0px;
  }
  /*.sign-in {
      font-size: 25px;
}         
  .material-icons {
      font-size: 30px;
      margin-top: 10px;
      padding-right: 15px;
  }
  .person-icon {
      padding-right: 2px;
  }
  .request-demo {
      font-size: 22px;
      padding: 12px 12px;
  }
  .nav-center {
      font-size: 22px;
      padding-left: 163px;
      padding-top: 3px;
  }*/
}
@media screen and (max-width: 1399.98px){
  
}
@media screen and (max-width: 1199.98px){
  .material-icons {
      margin-top: 10px;
  }
  .checkbox p {
  font-size: 17px!important;
}
}
@media screen and (max-width: 991.98px){
.mainLeftLogin {
  display: none;
}
}
@media screen and (max-width: 1024.98px) and (orientation: portrait) {
  
}

@media screen and (min-width: 991px) and (max-width: 1046px) {
  .text-small-uppercase-login {
    font: 700 1.2rem 'Montserrat'!important;
  }

  .text-small-uppercase-button {
    font: 700 1.2rem 'Montserrat'!important;
  }
  .card .title h1 {
    font-size: 45px!important;
  }
  form {
      padding: 10px;
  }
  .hero p {
    font-size: 15px!important;
  }
  .faceG p {
    font-size: 17px!important;
  }
  .checkbox p {
    font-size: 15px!important;
  }
}

@media screen and (max-width: 768.98px) and (orientation: portrait) {
}
@media screen and (max-width: 625.98px) {
  /*.person-icon {
      padding-right: 0px;
  }*/
  .nav-logo {
      width: 180px;
  }
  /*.nav-ham {
      margin: 7px 0px 0px 0px;
  }*/
  .text-small-uppercase-login {
  font: 700 1.2rem 'Montserrat'!important;
}

.text-small-uppercase-button {
  font: 700 1.2rem 'Montserrat'!important;
}
.card .title h1 {
    font-size: 45px!important;
  }
  form {
    padding: 10px;
  }
  .hero p {
  font-size: 15px!important;
}
.faceG p {
  font-size: 17px!important;
}
.checkbox p {
  font-size: 15px!important;
}
}
@media screen and (max-width: 575.98px) {
  /*.quote {
      color: white;
      font-family: 'Montserrat';
      font-size: 12px;
      text-align: center;
      padding: 3px 0px 3px 0px;
  }
  .nav-bar {
      padding-top: 8px;
      margin: 0px 0px 0px 0px;
  }*/
  .nav-logo {
      width: 150px;
      height: auto;
      padding-top: 4px;
  }
  /*.person-icon {
      display: none;
  }
  .sign-in {
      display: none;
  }
  .request-demo {
      font-size: 12px;
  }
  .material-icons {
      padding-right: 7px;
      margin-top: 8px;
      font-size: 22px;
  }
  .nav-ham {
      margin-top: 6px;
      padding-left: 12px;
  }
  .ham {
      width: 25px;
      margin-bottom: 4px;
  }*/
}

@media screen and (max-width: 485px) {
  .loginCardLogin {
      width: 90%!important;
  }
}

@media screen and (max-width: 415px) {
  .loginCardLogin {
      width: 95%!important;
  }
}

@media screen and (max-width: 377px) {
  /*.quote {
      color: white;
      font-family: 'Montserrat';
      font-size: 12px;
      text-align: center;
      padding: 3px 0px 3px 0px;
  }
  .nav-bar {
      padding-top: 5px;
      margin: 0px 0px 0px 0px;
  }*/
  .nav-logo {
      width: 130px;
      height: auto;
      margin-top: 4px;
  }
  .checkbox p {
  font-size: 12px!important;
}
  /*.person-icon {
      display: none;
  }
  .sign-in {
      display: none;
  }
  .request-demo {
      font-size: 10px;
  }
  .material-icons {
      padding-right: 7px;
      margin-top: 10px;
      font-size: 20px;
  }
  .nav-ham {
      margin-top: 8px;
      padding-left: 10px;
  }
  .ham {
      width: 23px;
      margin-bottom: 3px;
  }*/
}  

@media screen and (max-width: 355px) {
  .text-small-uppercase-login {
    font: 700 0.9rem 'Montserrat'!important;
  }

  .text-small-uppercase-button {
    font: 700 0.9rem 'Montserrat'!important;
  }
  .card .title h1 {
    font-size: 40px!important;
  }
  form {
      padding: 7px;
  }
  .hero p {
    font-size: 10px!important;
  }
  .faceG p {
    font-size: 10px!important;
  }
  .checkbox p {
    font-size: 10px!important;
  }
  .loginCardLogin {
      width: 98%!important;
  }
}

@media screen and (max-width: 320.98px) {
  /*.quote {
      color: white;
      font-family: 'Montserrat';
      font-size: 12px;
      text-align: center;
      padding: 3px 0px 3px 0px;
  }
  .nav-bar {
      padding-top: 4px;
      margin: 0px;
  }*/
  .nav-logo {
      width: 130px;
      height: auto;
      margin-top: 0px;
  }
  .text-small-uppercase-login {
    font: 700 0.9rem 'Montserrat'!important;
  }

  .text-small-uppercase-button {
    font: 700 0.9rem 'Montserrat'!important;
  }
  .card .title h1 {
    font-size: 40px!important;
  }
  form {
      padding: 7px;
  }
  .hero p {
    font-size: 10px!important;
  }
  .faceG p {
    font-size: 10px!important;
  }
  .checkbox p {
    font-size: 10px!important;
  }
  .loginCardLogin {
      width: 98%!important;
  }
  .login_btn {
    padding: 0 !important;
  }
  /*.person-icon {
      display: none;
  }
  .sign-in {
      display: none;
  }
  .request-demo {
      display: none;
  }
  .material-icons {
      padding-right: 0px;
      margin-top: 6px;
      font-size: 20px;
  }
  .nav-ham {
      margin-top: 5px;
      padding-left: 10px;
  }
  .ham {
      width: 23px;
      margin-bottom: 3px;
  }*/
}
@media screen and (max-width: 240.98px) {
  /*.quote {
      color: white;
      font-family: 'Montserrat';
      font-size: 11px;
      text-align: center;
      padding: 3px 0px 3px 0px;
  }
  .nav-bar {
      padding-top: 2px;
      margin: 0px 0px 0px 0px;
  }
  .nav-left {
      padding-right: 0px;
  }*/
  .nav-logo {
      width: 110px;
      height: auto;
      margin-top: 0px;
  }
  /*.person-icon {
      display: none;
  }
  .sign-in {
      display: none;
  }
  .request-demo {
      display: none;
  }
  .material-icons {
      margin-top: 6px;
      padding: 0px 7px 0px 0px;
      font-size: 20px;
  }
  .nav-ham {
      margin-top: 5px;
      padding-left: 0px;
  }
  .ham {
      width: 20px;
      height: 4px;
      margin-bottom: 3px;
  }*/
  
}

@media screen and (min-width: 767px) and (max-width: 991px) {
.loginCardLogin {
  width: 60%!important;
}
}

@media screen and (min-width: 991px) and (max-width: 1250px) {
.mainLeftLogin img {
  width: 60%!important;
  right: 15%!important;
}
.mainLeftLogin p {
  width: 60%!important;
  margin-left: 5%!important;
}
}